@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Adopt To Shop</h1>
    <p class="lead">Adopt To Shop is the go to application when you or someone you know, decides they want to adopt a new pet!</p> 
    </br>
    <p>Browse through our ever changing inventory of pets!</p>
    <p><a href="https://localhost:44358/Animals/Index" class="btn btn-primary btn-lg">Animals &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Steps</h2>
        <p>
            Interested in adoption? Our easy application process takes 10 minutes, and can be submitted online here!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Adoption Application &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>